/* COMMON */

:root {
  /* html */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ece5d0;
  font-family: sans-serif;
  line-height: 30px;
  color: #444;
}

h1,
h2 {
  color: tomato;
  text-align: center;
}

a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #aaa;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: tomato;
  box-shadow: 0 1px 5px #333;
}
header img {
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

/* NAVIGATION */
nav {
  margin-right: 10px;
}
nav > ul li {
  display: inline-block;
  background: #f8d848;
  width: 110px;
  text-align: center;
}
nav a {
  display: block;
  width: 100%;
  height: 100%;
}

/* MAIN --> SECTIONS */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  min-height: 500px;
  margin-bottom: 20px;
}
#contact {
  text-align: left;
}

/* FOOTER */
footer {
  margin-top: 90px;
  font-size: 14px;
  text-align: center;
  background: tomato;
  box-shadow: 0 -1px 5px #333;
}
footer p {
  margin: 0;
}
