/* SETUP */

:root {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  /* BASED COLOR VARIABLES */
  --dark-first: #000000;
  --dark-second: #14213d;
  --pop-first: #fca311;
  --pop-second: #fb8500;
  --light-first: #e5e5e5;
  --light-second: #ffffff;
}

/* ANIMATION */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75%{
    transform: translateX(0);

  }
  100% {
    opacity: 1;
  }
}

/* GENERAL */

body {
  width: 100%;
  height: 100%;
  background-color: var(--dark-first);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--dark-second);
}

header{
  background-color: var(--dark-first);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  position: fixed;
  top: 0px;
  z-index: 10;
}

footer{
  background-color: var(--dark-first);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  position: static;
  top: 0px;
  z-index: 10;
}

main {
  width: 100vw;
  height: 400vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section{
  width: 80vw;
  height: auto;
  color: var(--dark-second);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--light-first);
}

section .card {
  width: 100%;
  height: auto;
}

img {
  max-width: 80vw;
}

p {
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 1;
  text-align: justify;
}

.card-header{
  text-align: center;
}

/* INDIVIDUALS */

/* NavBar */
.img-fluid {
  min-width: 45px;
  max-width: 100px;
}
.nav-link {
  color: var(--light-first);
}
  .nav-link:hover{
    color: var(--pop-first);
  }

/* Presentation*/
#home aside {
  display: flex;
  flex-direction: row;
}

#home .card-img-top {
  min-width: 15px;
  max-width: 50px;
}

/* Services */
#services .service-cards{
  display: flex;
  flex-flow: row wrap;
}

#services figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing:0.2em;
}

#services img {
  width: 40vw;
  height: 40vw;

  margin: 0.1em 0.2em 0.7em;

  object-fit: cover;
}

#services img:hover{
  opacity: 0.2em;
}

/* Forumulaire Devis */

#form-devis form{
  font-size: 0.8rem;
}

#checkboxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

button {
  margin: 1rem 0.5rem;
}

/* INFOS et Contact */

#contact-text{
display: inline;
letter-spacing: 0;
}

.far, 
.fas{
  margin-right: 2rem;
  margin-bottom: 0.3rem;
}


footer div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  color: var(--light-first);
  letter-spacing: 0rem;
  font-size: 0.8rem;
  text-align: center;
  margin: 2rem;
}

footer i {
  margin: 0 0.3rem 0 0.8rem ;
}